.manage-page{

background:#0a0a0a;
min-height:100vh;
padding:40px;
color:white;

}

.manage-title{

font-size:2rem;
font-weight:bold;
margin-bottom:10px;

}

.manage-subtitle{

color:#aaa;
margin-bottom:30px;

}

.manage-form-container{

background:#061633;

padding:30px;

border-radius:20px;

margin-bottom:40px;

box-shadow:
0 0 20px rgba(0,0,0,.4);

}

.manage-form{

display:flex;
flex-direction:column;
gap:15px;

}

.manage-form input,
.manage-form textarea{

background:#0d1f42;

border:none;

padding:14px;

border-radius:10px;

color:white;

}

.manage-form textarea{

height:120px;
resize:none;

}

.manage-submit{

background:#ffb400;

border:none;

padding:14px;

border-radius:10px;

font-weight:bold;

transition:.3s;

}

.manage-submit:hover{

background:#ff9500;

transform:translateY(-3px);

}

.manage-grid{

display:grid;

grid-template-columns:
repeat(
auto-fill,
minmax(250px,1fr)
);

gap:25px;

}

.manage-card{

background:#061633;

border-radius:18px;

overflow:hidden;

transition:.3s;

}

.manage-card:hover{

transform:translateY(-5px);

box-shadow:
0 0 20px rgba(
255,
180,
0,
0.3
);

}

.manage-img{

width:100%;
height:280px;
object-fit:cover;

}

.manage-info{

padding:15px;

}

.manage-actions{

display:flex;
gap:10px;
margin-top:15px;

}

.edit-btn{

flex:1;

background:#ffb400;

border:none;

padding:10px;

border-radius:8px;

}

.delete-btn{

flex:1;

background:#ff4d4d;

border:none;

padding:10px;

border-radius:8px;

color:white;

}



.back-btn{
    display:flex;
    align-items:center;
    gap:8px;

    background:#1c2a4b;
    color:white;

    border:none;
    border-radius:12px;

    padding:12px 18px;
    margin-bottom:20px;

    cursor:pointer;
    transition:.3s;
}

.back-btn:hover{
    background:#ffb400;
    color:black;
    transform:translateY(-2px);
}