.ig-navbar {
    background-color: #0a0a0a;
    padding: 10px 0;
    border-bottom: 1px solid #1f1f1f;
}

.ig-navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ig-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.ig-right {
    display: flex;
    align-items: center;
    gap: 10px;
}


.ig-logo {
    color: white;
    font-weight: bold;
    font-size: 18px;
}


.ig-menu span {
    color: #aaa;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
}

.ig-menu span:hover {
    color: white;
}


.ig-search {
    background-color: #1a1a1a;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    width: 220px;
}

.ig-search::placeholder {
    color: #888;
}


.ig-search-btn {
    background-color: #ffb400;
    border: none;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 5px;
}

.ig-search-btn:hover {
    background-color: #ffa000;
}


.nav-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.icon {
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.icon:hover {
    color: #ff6600;
    transform: scale(1.1);
}

.cart-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.cart-badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: #ff4d4d;
    color: white;
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0 0 8px rgba(255, 77, 77, 0.8);
}

.cart-bounce {
    animation: bounce 0.4s ease;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.3);
    }

    60% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.auth-box {
    background: #0f1b2d;
    padding: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.auth-box input {
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.auth-box button {
    background: #ff7a00;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
}